
.inter-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  
*{
    margin: 0px;
    padding: 0px;
}
/* header */
.head-container{
    width: 2020px;
    height: 905px;
    margin: 0px auto;
    border: 1px solid white;
    background-image: url(../assets/Hero-bg.png);
}
.head-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}
.head-content img{
    width: 280.28px;
height: 280px;
}
.head-content h1{
    color: rgb(13, 19, 33);

font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
}
.head-content p{
    color: rgb(13, 19, 33);
    width: 852px;
    height: 52px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.head-content button{
    color: rgb(255, 255, 255);

font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);
width: 208px;
height: 66px;
padding: 21px 24px 21px 24px;
border: none;
}

/* development-container */
.development-container{
    width: 1618px;
    height: 1978px;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    border: 1px solid rgba(13, 19, 33, 0.02);
    margin-top: 150px;
    background-color: rgba(13, 19, 33, 0.02);}
.develop-content{
padding: 80px 90px;
display: flex;
flex-direction: column;
gap: 100px;
}
.develop-text{
 display: flex;
 flex-direction: column;
 gap: 50px;
 margin-top: 30px;
 width: 1450px;
height: 37px;
}
.develop-text h1{
    color: rgb(13, 19, 33);

font-size: 36px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}
.develop-text p{
    color: rgb(13, 19, 33);

font-size: 25px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
}
.deve1{
    
    background-image: linear-gradient(90deg,white,rgba(13, 19, 33, 0.02));

    width: 100%;
    margin-top: 100px;
    border-radius: 30px; 
}
.deve1-1{
  
    display: flex;

justify-content: space-between;
align-items: flex-start;
padding: 48px;


}
.deve1-1-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
   
}
.deve1-1 h1{
    color: rgba(13, 19, 33, 0.7);

font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}
.deve1-1 p{
    color: rgb(13, 19, 33);

font-size: 22px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}
.deve1-1 button{
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);

font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
background-color: white;
}
.deve1-1-img img{
    width: 400px;
    
}